/*font-family: 'DM Serif Display', serif;
font-family: "Playfair Display", serif;
font-family: "Rouge Script", cursive;*/
:root {
  --main-color: #05172d;
  --secondary-color: #0a203b;
  --heading-font-family: "DM Serif Display", serif;
  --default-font-family: "Playfair Display", serif;
  --fancy-font-family: "Rouge Script", cursive;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body {
  background: var(--main-color);
  font-family: var(--default-font-family);
  color: white;
}

h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  font-size: 45px;
}
h1 {
  font-size: 95px;
  font-family: var(--heading-font-family);
}
p {
  font-size: 18px;
  line-height: 30px;
}
.navbar {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5411414565826331) 0%,
    rgba(5, 23, 45, 0.9893207282913166) 29%
  );
  box-shadow: var(--shadow);
}
.navbar-brand {
  color: white;
  font-size: 38px;
  font-family: var(--fancy-font-family);
}
.navbar-toggler-icon {
  color: white;
}
.sara {
  display: inline;
  font-family: var(--fancy-font-family);
  font-size: 80px;
  margin: 60px;
}

.hero {
  text-align: center;

  padding: 140px 20px 100px;
}
.hero p {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  opacity: 70%;
  font-size: 25px;
}
.btn {
  border-radius: 4px;
  padding: 12px 20px;
  box-shadow: var(--shadow);
  background-color: var(--secondary-color);
  border-color: white;
}
.btn:hover {
  color: var(--secondary-color);
  font-weight: bolder;
  background-color: white;
  border-color: var(--secondary-color);
}
.btn-2 {
  border-radius: 4px;
  padding: 12px 20px;
  color: var(--main-color);
  background-color: white;

  font-weight: bolder;
  box-shadow: var(--shadow);
  transition: all 150ms ease-in-out;
}
.btn-2:hover {
  color: white;
  text-decoration: none;
  background-color: var(--secondary-color);
  font-weight: lighter;
}
.content-container {
  padding: 140px 20px;
  text-align: center;
  padding: 0;
}
.content {
  margin: 20px;
}
.content p {
  font-size: 14px;
}
.content-container h1 {
  font-size: 64px;
  line-height: 1;
}
.content-container h2 {
  opacity: 70%;
  font-size: 26px;
}
.content-container p {
  font-size: 18px;
}
.project-container {
  text-align: center;
  margin-bottom: 100px;
}
.container {
  max-width: 900px;
  margin-top: 125px;
}

img {
  max-width: 100%;
  border-radius: 7px;
  box-shadow: var(--shadow);
}
footer {
  text-align: center;
  margin-top: 200px;
  background: rgb(15, 43, 77);
  background: linear-gradient(
    0deg,
    rgba(15, 43, 77, 1) 55%,
    rgba(5, 23, 45, 1) 94%
  );
}
footer .contact-box {
  padding: 20px 100px;
}
footer .email-link {
  text-decoration: none;
  color: white;
  transition: all 150ms ease-in-out;
}
footer .social-links a {
  margin: 20px;
  color: white;
  font-size: 18px;

  padding: 10px;
  transition: all 150ms ease-in-out;
}
.email-link:hover,
.social-links a:hover {
  opacity: 30%;
}
